:root {
    --background-color: #1e1e2f; /* Dark background */
    --text-color: #a0a0b2; /* Grey text */
    --secondary-color: #f5f5f5; /* White text */
    --accent-color:  #24aa96; /* Aquaish accent */
  }

.dark-background {
    background-color: var(--background-color);
    color: var(--text-color);
}

.aqua-background {
    background: var(--accent-color);
    color: var(--text-color);
}