/* CSS Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


:root {
    --background-color: #1e1e2f; /* Dark background */
    --text-color: #a0b2a2; /* Grey text */
    --secondary-color: #f5f5f5; /* White text */
    --accent-color:  #24aa96; /* Aquaish accent */
    --btn-border-color: rgb(49, 51, 53);
    font-family: Arial, Helvetica, sans-serif;
  }

.primary-background {
    background-color: var(--background-color);
    color: var(--text-color);
}

.secondary-background {
    background: var(--accent-color);
    color: var(--text-color);
    border-color: var(--text-color);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

  }
  
.players {
  display: flex;
  gap: 3rem
}

.player {
  width: 250px;
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  border: 1px solid;
  border-color: var(--btn-border-color);
  border-radius: 8px;
}

.player-active {
  border-bottom: 5px solid var(--accent-color);
}

.player-inactive {
  border-bottom: none;
}

.player svg {
  width: 50px;
}

.players__x svg {
  fill: var(--text-color);
}

.players__o svg {
  fill: var(--secondary-color);
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}


.grid {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1 / 1;
    border-collapse: collapse;
    border: none;
}

.grid td {
    border: 10px solid;
    padding: 0;
    height: calc(100% / 3);
    width: calc(100% / 3);
}

.grid td:hover {
  background-color: #0f9e89;
}

.grid tr:first-child td {
    border-top: none;
  }
  
  .grid tr:last-child td {
    border-bottom: none;
  }
  
  .grid tr td:first-child {
    border-left: none;
  }
  
  .grid tr td:last-child {
    border-right: none;
  }

footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart-btn {
  border: none;
  color: var(--accent-color);
  font-size: 1.2rem;
}

